@import url("theme.css");

.highlight * {
    background: #eff2f5;
}

.highlight a {
    text-decoration: underline;
}

div.version * {
    color: #000000;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: black;
}

.wy-side-nav-search>div.version {
    color: #8c8c8c;
}
